<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<h1> XEM CHI TẾT SẢN PHẨM </h1>
<body>
    id: <td th:text="${sanpham.id}"></td>
    <br>
    <br>
    name: <td th:text="${sanpham.name}"></td>
    <br>
    <br>
    description: <td th:text="${sanpham.description}"></td>
    <br>
    <br>
    price: <td th:text="${sanpham.price}"></td>
    <br>
    <br>
    stockQuantity: <td th:text="${sanpham.stockQuantity}"></td>
    <br>
    <br>
    createdAt: <td th:text="${sanpham.createdAt}"></td>
    <br>
</body>
</html>